{% load static %}

<!DOCTYPE html>
<html lang="fr" data-theme="{{ DATA_THEME }}" class="size-full bg-base-100">
  <head>
    {% include 'partials/metadata.html' %}
    <title>
      {% block title %}
      {% endblock %}- {{ APP_NAME }}
    </title>
    <link rel="stylesheet" href="{% static 'common/css/output.css' %}" />
    {% block css %}
    {% endblock %}
  </head>

  <body class="size-full bg-base-100">
    {% include 'partials/toast.html' %}
    {% comment %} {% include 'partials/tailwind-debug.html' %} {% endcomment %}

    <div class="drawer max-w-7xl mx-auto">
      <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content flex flex-col">
        {% include 'partials/navbar.html' %}
        <header class="header">
          {% block hearder %}
          {% endblock %}
        </header>

        <main class="w-full p-6">
          {% block content %}
          {% endblock %}
        </main>
      </div>
      {% include 'partials/sidebar.html' %}
    </div>

    {% include 'partials/footer.html' %}

    {% include 'partials/js.html' %}
    {% block js %}
    {% endblock %}
  </body>
</html>
