{% load i18n static %}

<!DOCTYPE html>
<html lang="fr" data-theme="{{ DATA_THEME }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% translate 'Une plateforme tout-en-un pour une gestion immobilière sans tracas, que vous soyez propriétaire bailleur ou locataire.' %}" />
    <meta name="keywords" content="{% translate 'bienlocation, immobilière, bailleur, locataire, gestion immobilière, bien immobilière, loyer, immobilier, simplifiez la gestion de vos biens immobiliers, gérer vos biens immobiliers, Quittance de loyer, contrat de bail, contrat de location, bail, location, gestion de biens immobiliers, rentila' %}" />
    <link rel="shortcut icon" href="{% static 'common/images/logo-rounded.png' %}" type="image/x-icon" />
    <title>{{ title }} - {{ APP_NAME }}</title>
    <link rel="stylesheet" href="{% static 'common/css/style.css' %}" />
  </head>

  <body>
    {% if messages %}
      <div class="toast-app">
        {% for message in messages %}
          <c-components.ui.toast message="{{ message }}" tags="{{ message.tags }}" /> 
        {% endfor %}
      </div>
    {% endif %}
    {{ slot }}
  </body>
</html>
