<div x-data="{ dismissedToast: false }" x-show="!dismissedToast" x-init="">
  {% if messages %}
    {% for message in messages %}
      <div class="toast toast-top toast-end !rounded-sm z-50">
        <div class="alert alert-{{ message.tags }}">
          {% comment %} {% include 'partials/icon.html' with name=message.tags %} {% endcomment %}
          <span>{{ message }}.</span>
          <div style="cursor: pointer;" @click="dismissedToast = true">
            {% include 'partials/icon.html' with name='close' %}
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>
