{% load i18n static %}

{% translate "Messages" as Messages %} 
{% translate "Notifications" as Notifications %} 
{% translate "Profile" as Profile %}

<header class="dash-header">
  <nav>
    <c-components.ui.logo url="guest:landing" />
    <ul>
      <li>
        <c-components.ui.link
          url="dashboard:index"
          text="{{ Messages }}"
          icon="home"
        />
      </li>
      <li>
        <c-components.ui.link
          url="dashboard:index"
          text="{{ Notifications }}"
          icon="notification"
        />
      </li>
      <li>
        <c-components.ui.link
          url="accounts:logout"
          text="{{ Profile }}"
          icon="user"
        />
      </li>
      <li>
        <c-components.ui.theme />
      </li>
    </ul>
  </nav>
</header>
