{% load static %}
{% load i18n %}

{% translate "Home" as Home %}
{% translate "Owners" as Owners %}
{% translate "Rentals" as Rentals %}

<aside class="h-[800px] w-56">
  <nav>
    {% comment %} <div>
      {% include 'partials/icon.html' with name='chevron-right' %}
    </div> {% endcomment %}
    <ul>
      {% comment %} <li class="h-8">
        <span>
          {% include 'partials/icon.html' with name='chevron-left' %}
        </span>
      </li> {% endcomment %}
      <li>
        {% include 'partials/ui/button_link.html' with url='dashboard:index' text='Dashboard' icon='home' %}
      </li>
      <li>
        {% include 'partials/ui/button_link.html' with url='dashboard:index' text='Profile' icon='home' %}
      </li>
      <li>
        {% include 'partials/ui/button_link.html' with url='dashboard:index' text='Logout' icon='home' %}
      </li>
    </ul>
  </nav>
</aside>