{% load static %}

<!DOCTYPE html>
<html lang="fr" data-theme="night">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %} | BienLocation</title>
  <link rel="shortcut icon" href="" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'css/output.css' %}">
  {% block css %} {% endblock css %}
</head>

<body class="size-full bg-base-100">
  {% include 'partials/tailwind-debug.html' %}
  {% include 'partials/navbar.html' %}
  <header class="header">
    {% block hearder %} {% endblock hearder %}
  </header>

  <main>
    {% block content %} {% endblock content %}
  </main>

  <footer>
    {% block footer %} {% endblock footer %}
  </footer>

  {% block js %} {% endblock js %}
</body>

</html>