{% extends 'base/base.html' %}

{% load static %}
{% load i18n %}

{% block title %}
  {% translate 'Simplifiez la gestion de vos biens immobiliers avec {{APP_NAME}}' %}
{% endblock %}

{% block content %}
  <div class="flex flex-col gap-4">
    <button class="btn">Button</button>
    <button class="btn btn-neutral">Neutral</button>
    <button class="btn btn-primary">Primary</button>
    <button class="btn btn-secondary">Secondary</button>
    <button class="btn btn-accent">Accent</button>
    <button class="btn btn-ghost">Ghost</button>
  </div>
  <div class="flex flex-col gap-4">
    {% lorem 10 p %}
  </div>
{% endblock %}
