{% load static %}
{% load i18n %}

{% translate "Home" as Home %}
{% translate "Owners" as Owners %}
{% translate "Rentals" as Rentals %}

<aside class="h-[800px] w-56">
  <nav class="h-full w-56 fixed top-16 z-20 flex flex-col border-r border-gray-500/30 shadow-sm bg-base-100 p-2">
    <div class="absolute top-3 -right-3.5 flex p-1 bg-ghost rounded-full hover:bg-primary/40 ease-in-out duration-300 cursor-pointer">
      {% include 'partials/icon.html' with name='chevron-right' %}
    </div>
    <ul class="flex flex-col gap-2">
      <li class="h-8">
        <span class="btn btn-ghost w-full min-h-8 h-4 flex justify-start items-center gap-2 px-2 py-0">
          {% include 'partials/icon.html' with name='chevron-left' %}
        </span>
      </li>
      {% include 'dashboard/partials/sidebar_item.html' with name=Home icon='home' %}
      {% include 'dashboard/partials/sidebar_item.html' with name=Owners icon='user' %}
      {% include 'dashboard/partials/sidebar_item.html' with name=Rentals icon='home' %}
    </ul>
  </nav>
</aside>