{% extends 'base/base_without_navbar.html' %}

{% load i18n static %}

{% block title %}
  {% translate 'Check your email for the password reset link.' %}
{% endblock title %}

{% block content %}
  <div class="size-full md:max-w-xl m-auto bg-base-100 flex flex-col gap-4 p-2 md:p-6" style="border-radius: 1rem;">
    <div class="flex flex-col items-center text-center gap-4 mb-4">
      <img src="{% static 'common/images/openletter.gif' %}" alt="" width="200" style="border-radius: 16px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin-bottom: 1rem;" />
      <h1 class="text-xl md:text-4xl my-2">{% translate 'Check your email for the password reset link.' %}</h1>
      <p class="leading-7">
        {% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}
      </p>
      <p class="leading-7">
        {% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}
      </p>
    </div>
  </div>
{% endblock content %}
