{% extends 'base/base_without_navbar.html' %} {% load i18n static %} {% block
title %} {% translate 'Request password reset' %} {% endblock title %} {% block
content %}
<div
  class="size-full md:max-w-xl m-auto bg-base-100 flex flex-col gap-4 p-2 md:p-6"
  style="border-radius: 1rem"
>
  <div class="flex flex-col items-center text-center gap-4 mb-4">
    <a href="{% url 'guest:landing' %}"
      ><img
        src="{% static 'common/images/logo-rounded.png' %}"
        alt="logo {{ APP_NAME }}"
        class="w-16 lg:w-24 m-auto"
    /></a>
    <h1 class="text-xl md:text-2xl">
      {% translate 'Forgotten your password? Enter your email address below, and
      we’ll email instructions for setting a new one.' %}
    </h1>
  </div>
  <form method="post" class="flex flex-col gap-4 p-4">
    {% csrf_token %} {% include 'partials/input_form.html' with field=form.email
    icon='email' errors=form.email.errors id_for_label=form.email.id_for_label
    %}
    <button type="submit" class="btn btn-primary mt-3">
      {% translate 'Reset my password' %}
    </button>
  </form>
</div>
{% endblock content %}
