{% load static %}
{% load i18n %}

<c-vars :items="[
      ['dashboard', 'dashboard:index'],
      ['properties', 'dashboard:index'], 
      ['tenants', 'dashboard:index'], 
      ['tenancies', 'dashboard:index'], 
      ['documents', 'dashboard:index'], 
      ['contacts', 'dashboard:index'], 
      ['trash', 'dashboard:index'], 
      ['settings', 'dashboard:index']
   ]"
  />

<aside>
  <nav>
    <ul>
      {% for item in items %}
        <li>
          <c-components.ui.link
            url="{{ item.1 }}"
            text="{% translate item.0|title %}"
            icon="{{ item.0 }}"
          />
        </li>
      {% endfor %}
    </ul>
  </nav>
</aside>