{% extends 'base/base_without_navbar.html' %}

{% load static %}
{% load i18n %}

{% block title %}
  {% translate 'Login to your account' %}
{% endblock %}

{% block content %}
  <div class="size-full md:max-w-xl m-auto bg-base-100 flex flex-col gap-4 p-2 md:p-6" style="border-radius: 1rem;">
    <div class="flex flex-col items-center text-center gap-4 mb-4">
      <a href="{% url 'landing' %}"><img src="{% static 'images/logo-rounded.png' %}" alt="logo {{ APP_NAME }}" class="w-16 lg:w-24 m-auto" /></a>
      <h1 class="text-xl md:text-2xl">{% translate 'Login to your account' %}</h1>
    </div>
    <form method="post" class="flex flex-col gap-4 p-4">
      {% csrf_token %}
      {% include 'partials/input_form.html' with field=form.email icon='email' errors=form.email.errors id_for_label=form.email.id_for_label %}
      {% include 'partials/input_form.html' with field=form.password icon='key' errors=form.password.errors id_for_label=form.password.id_for_label %}
      <button type="submit" class="btn btn-primary mt-3">{% translate 'Login' %}</button>
      <a href="{% url 'accounts:reset_password' %}" class="link hover:text-primary">{% translate 'Forgot your password?' %}</a>
    </form>
    <div class="divider">
      {% translate 'OR' %}
    </div>
    <a href="#" class="btn btn-outline gap-2">
      <img src="{% static 'svg/google.svg' %}" alt="logo Google" class="w-8" />
      {% translate 'Login with Google' %}
    </a>
    <div class="flex flex-col gap-4 p-2 mt-2">
      <p class="text-center text-md">
        {% translate "Don't have an account?" %} <a href="{% url 'accounts:register' %}" class="link">{% translate 'Register' %}</a>
      </p>
    </div>
  </div>
{% endblock %}
