{% load i18n static %}

<c-layouts.auth>
  <c-slot name="title">
    {% blocktranslate %}Login to your account{% endblocktranslate %}
  </c-slot>

  <h2>{% translate "Login to your account" %}</h2>
  <p class="info-auth">{% translate "Don't have an account?" %} <a href="{% url 'accounts:register' %}">{% translate "Register here" %}</a></p>
  <section>
    <c-components.ui.alert_message />
    <form method="post" action="{% url 'accounts:login' %}">
      {% csrf_token %}
      {% for field in form %}
        <c-components.ui.dj-input :field=field :id_for_label=field.id_for_label :errors=field.errors />
      {% endfor %}
      <button type="submit">{% translate "Login" %}</button>
    </form>
    <div class="divider">
      {% translate "or" %}
    </div>
    {% include 'accounts/partials/social_button.html' %}
  </section>
</c-layouts.auth>
