{% load i18n static %}
<c-layouts.base>
  <c-slot name="title">{% translate 'Page not found' %}</c-slot>
  <div class="Error404">
    <div id="error404">
      <div class="content">
        <h2>404</h2>
        <h4>{% translate 'Opps! page not found' %}</h4>
        <p>
          {% translate 'The page you are looking for does not exist. You may
          have mistyped the url address or the page may have been moved.' %}
        </p>
        <a href="{% url 'guest:landing' %}"
          ><span>{% translate 'Back to home page' %}</span></a
        >
      </div>
    </div>
  </div>
  <script>
    const container = document.getElementById("error404");

    window.onmousemove = (e) => {
      let x = -e.clientX / 5;
      let y = -e.clientY / 5;
      if (container) {
        container.style.backgroundPositionX = x + "px";
        container.style.backgroundPositionY = y + "px";
      }
    };
  </script>
</c-layouts.base>
