{% extends 'base/base_empty.html' %}

{% load static %}
{% load i18n %}

{% block title %}
  {% translate 'Page not found' %}
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'common/css/style.css' %}" />
{% endblock %}

{% block content %}
  <div class="Error404">
    <div id="error404">
      <div class="content">
        <h2>404</h2>
        <h4>{% trans 'Opps! page not found' %}</h4>
        <p>
          {% trans 'The page you are looking for does not exist. You may have mistyped the url address or the page may have been moved.' %}
        </p>
        <a href="{% url 'landing:index' %}"><span>{% trans 'Back to home page' %}</span></a>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script>
    const container = document.getElementById('error404')
    
    window.onmousemove = (e) => {
      let x = -e.clientX / 5
      let y = -e.clientY / 5
      if (container) {
        container.style.backgroundPositionX = x + 'px'
        container.style.backgroundPositionY = y + 'px'
      }
    }
  </script>
{% endblock %}
