$text: "text";
$background: "background";
$primary: "primary";
$secondary: "secondary";
$accent: "accent";
$neutral: "neutral";
$white: "white";
$black: "black";
$gray: "gray";
$blue: "blue";
$green: "green";
$orange: "orange";
$red: "red";
$info: "info";
$success: "success";
$warning: "warning";
$danger: "danger";

$themes: (
  light: (
    #{$text}: #040316,
    #{$text}-50: #eae9fc,
    #{$text}-100: #d4d2f9,
    #{$text}-200: #a9a5f3,
    #{$text}-300: #7e78ed,
    #{$text}-400: #534be7,
    #{$text}-500: #281fe0,
    #{$text}-600: #2018b4,
    #{$text}-700: #181287,
    #{$text}-800: #100c5a,
    #{$text}-900: #08062d,
    #{$text}-950: #040316,

    #{$background}: #e8e8f3,
    #{$background}-50: #eeeef6,
    #{$background}-100: #dedeed,
    #{$background}-200: #bcbcdc,
    #{$background}-300: #9b9bca,
    #{$background}-400: #7979b9,
    #{$background}-500: #5858a7,
    #{$background}-600: #464686,
    #{$background}-700: #353564,
    #{$background}-800: #232343,
    #{$background}-900: #121221,
    #{$background}-950: #090911,

    #{$primary}: #2f27ce,
    #{$primary}-50: #eaeafb,
    #{$primary}-100: #d6d4f7,
    #{$primary}-200: #ada9ef,
    #{$primary}-300: #847ee7,
    #{$primary}-400: #5b54de,
    #{$primary}-500: #3129d6,
    #{$primary}-600: #2821ab,
    #{$primary}-700: #1e1881,
    #{$primary}-800: #141056,
    #{$primary}-900: #0a082b,
    #{$primary}-950: #050415,

    #{$secondary}: #dddbff,
    #{$secondary}-50: #e7e5ff,
    #{$secondary}-100: #cfccff,
    #{$secondary}-200: #9e99ff,
    #{$secondary}-300: #6e66ff,
    #{$secondary}-400: #3d33ff,
    #{$secondary}-500: #0d00ff,
    #{$secondary}-600: #0a00cc,
    #{$secondary}-700: #080099,
    #{$secondary}-800: #050066,
    #{$secondary}-900: #030033,
    #{$secondary}-950: #01001a,

    #{$accent}: #443dff,
    #{$accent}-50: #e6e5ff,
    #{$accent}-100: #ceccff,
    #{$accent}-200: #9c99ff,
    #{$accent}-300: #6b66ff,
    #{$accent}-400: #3a33ff,
    #{$accent}-500: #0800ff,
    #{$accent}-600: #0700cc,
    #{$accent}-700: #050099,
    #{$accent}-800: #030066,
    #{$accent}-900: #020033,
    #{$accent}-950: #01001a,

    #{$neutral}: #52637a,
    #{$neutral}-50: #f0f2f5,
    #{$neutral}-100: #e0e5eb,
    #{$neutral}-200: #c2cad6,
    #{$neutral}-300: #a3b0c2,
    #{$neutral}-400: #8596ad,
    #{$neutral}-500: #667b99,
    #{$neutral}-600: #52637a,
    #{$neutral}-700: #3d4a5c,
    #{$neutral}-800: #29313d,
    #{$neutral}-900: #14191f,
    #{$neutral}-950: #0a0c0f,

    #{$white}: #ffffff,
    #{$black}: #000000,

    #{$gray}: #ababab,
    #{$gray}-50: #f2f2f2,
    #{$gray}-100: #e6e6e6,
    #{$gray}-200: #cccccc,
    #{$gray}-300: #b3b3b3,
    #{$gray}-400: #999999,
    #{$gray}-500: #808080,
    #{$gray}-600: #666666,
    #{$gray}-700: #4d4d4d,
    #{$gray}-800: #333333,
    #{$gray}-900: #1a1a1a,
    #{$gray}-950: #0d0d0d,

    #{$blue}: #0262de,
    #{$blue}-50: #e6f1ff,
    #{$blue}-100: #cde2fe,
    #{$blue}-200: #9ac5fe,
    #{$blue}-300: #68a9fd,
    #{$blue}-400: #358cfd,
    #{$blue}-500: #036ffc,
    #{$blue}-600: #0259ca,
    #{$blue}-700: #024397,
    #{$blue}-800: #012c65,
    #{$blue}-900: #011632,
    #{$blue}-950: #000b19,

    #{$green}: #00cc1b,
    #{$green}-50: #e5ffe9,
    #{$green}-100: #ccffd3,
    #{$green}-200: #99ffa7,
    #{$green}-300: #66ff7a,
    #{$green}-400: #33ff4e,
    #{$green}-500: #00ff22,
    #{$green}-600: #00cc1b,
    #{$green}-700: #009914,
    #{$green}-800: #00660e,
    #{$green}-900: #003307,
    #{$green}-950: #001a03,

    #{$orange}: #cc7400,
    #{$orange}-50: #fff4e5,
    #{$orange}-100: #ffe9cc,
    #{$orange}-200: #ffd399,
    #{$orange}-300: #ffbd66,
    #{$orange}-400: #ffa733,
    #{$orange}-500: #ff9100,
    #{$orange}-600: #cc7400,
    #{$orange}-700: #995700,
    #{$orange}-800: #663a00,
    #{$orange}-900: #331d00,
    #{$orange}-950: #1a0e00,

    #{$red}: #d60505,
    #{$red}-50: #fee6e6,
    #{$red}-100: #fecdcd,
    #{$red}-200: #fc9c9c,
    #{$red}-300: #fb6a6a,
    #{$red}-400: #fa3838,
    #{$red}-500: #f90606,
    #{$red}-600: #c70505,
    #{$red}-700: #950404,
    #{$red}-800: #630303,
    #{$red}-900: #320101,
    #{$red}-950: #190101,

    #{$info}: #00b5ff,
    #{$success}: #00a96e,
    #{$warning}: #ffbe00,
    #{$danger}: #ff5861,
  ),
  dark: (
    #{$text}: #eae9fc,
    #{$text}-50: #040316,
    #{$text}-100: #08062d,
    #{$text}-200: #100c5a,
    #{$text}-300: #181287,
    #{$text}-400: #2018b4,
    #{$text}-500: #281fe0,
    #{$text}-600: #534be7,
    #{$text}-700: #7e78ed,
    #{$text}-800: #a9a5f3,
    #{$text}-900: #d4d2f9,
    #{$text}-950: #eae9fc,

    #{$background}: #0c0c17,
    #{$background}-50: #090911,
    #{$background}-100: #121221,
    #{$background}-200: #232343,
    #{$background}-300: #353564,
    #{$background}-400: #464686,
    #{$background}-500: #5858a7,
    #{$background}-600: #7979b9,
    #{$background}-700: #9b9bca,
    #{$background}-800: #bcbcdc,
    #{$background}-900: #dedeed,
    #{$background}-950: #eeeef6,

    #{$primary}: #3a31d8,
    #{$primary}-50: #050415,
    #{$primary}-100: #0a082b,
    #{$primary}-200: #141056,
    #{$primary}-300: #1e1881,
    #{$primary}-400: #2821ab,
    #{$primary}-500: #3129d6,
    #{$primary}-600: #5b54de,
    #{$primary}-700: #847ee7,
    #{$primary}-800: #ada9ef,
    #{$primary}-900: #d6d4f7,
    #{$primary}-950: #eaeafb,

    #{$secondary}: #020024,
    #{$secondary}-50: #01001a,
    #{$secondary}-100: #030033,
    #{$secondary}-200: #050066,
    #{$secondary}-300: #080099,
    #{$secondary}-400: #0a00cc,
    #{$secondary}-500: #0d00ff,
    #{$secondary}-600: #3d33ff,
    #{$secondary}-700: #6e66ff,
    #{$secondary}-800: #9e99ff,
    #{$secondary}-900: #cfccff,
    #{$secondary}-950: #e7e5ff,

    #{$accent}: #0600c2,
    #{$accent}-50: #01001a,
    #{$accent}-100: #020033,
    #{$accent}-200: #030066,
    #{$accent}-300: #050099,
    #{$accent}-400: #0700cc,
    #{$accent}-500: #0800ff,
    #{$accent}-600: #3a33ff,
    #{$accent}-700: #6b66ff,
    #{$accent}-800: #9c99ff,
    #{$accent}-900: #ceccff,
    #{$accent}-950: #e6e5ff,

    #{$neutral}: #8596ad,
    #{$neutral}-50: #0a0c0f,
    #{$neutral}-100: #14191f,
    #{$neutral}-200: #29313d,
    #{$neutral}-300: #3d4a5c,
    #{$neutral}-400: #52637a,
    #{$neutral}-500: #667b99,
    #{$neutral}-600: #8596ad,
    #{$neutral}-700: #a3b0c2,
    #{$neutral}-800: #c2cad6,
    #{$neutral}-900: #e0e5eb,
    #{$neutral}-950: #f0f2f5,

    #{$white}: #ffffff,
    #{$black}: #000000,

    #{$gray}: #545454,
    #{$gray}-50: #0d0d0d,
    #{$gray}-100: #1a1a1a,
    #{$gray}-200: #333333,
    #{$gray}-300: #4d4d4d,
    #{$gray}-400: #666666,
    #{$gray}-500: #808080,
    #{$gray}-600: #999999,
    #{$gray}-700: #b3b3b3,
    #{$gray}-800: #cccccc,
    #{$gray}-900: #e6e6e6,
    #{$gray}-950: #f2f2f2,

    #{$blue}: #2180fd,
    #{$blue}-50: #000b19,
    #{$blue}-100: #011632,
    #{$blue}-200: #012c65,
    #{$blue}-300: #024397,
    #{$blue}-400: #0259ca,
    #{$blue}-500: #036ffc,
    #{$blue}-600: #358cfd,
    #{$blue}-700: #68a9fd,
    #{$blue}-800: #9ac5fe,
    #{$blue}-900: #cde2fe,
    #{$blue}-950: #e6f1ff,

    #{$green}: #33ff4e,
    #{$green}-50: #001a03,
    #{$green}-100: #003307,
    #{$green}-200: #00660e,
    #{$green}-300: #009914,
    #{$green}-400: #00cc1b,
    #{$green}-500: #00ff22,
    #{$green}-600: #33ff4e,
    #{$green}-700: #66ff7a,
    #{$green}-800: #99ffa7,
    #{$green}-900: #ccffd3,
    #{$green}-950: #e5ffe9,

    #{$orange}: #ffa733,
    #{$orange}-50: #1a0e00,
    #{$orange}-100: #331d00,
    #{$orange}-200: #663a00,
    #{$orange}-300: #995700,
    #{$orange}-400: #cc7400,
    #{$orange}-500: #ff9100,
    #{$orange}-600: #ffa733,
    #{$orange}-700: #ffbd66,
    #{$orange}-800: #ffd399,
    #{$orange}-900: #ffe9cc,
    #{$orange}-950: #fff4e5,

    #{$red}: #fa2929,
    #{$red}-50: #190101,
    #{$red}-100: #320101,
    #{$red}-200: #630303,
    #{$red}-300: #950404,
    #{$red}-400: #c70505,
    #{$red}-500: #f90606,
    #{$red}-600: #fa3838,
    #{$red}-700: #fb6a6a,
    #{$red}-800: #fc9c9c,
    #{$red}-900: #fecdcd,
    #{$red}-950: #fee6e6,

    #{$info}: #00b5ff,
    #{$success}: #00a96e,
    #{$warning}: #ffbe00,
    #{$danger}: #ff5861,
  ),
);

$light: "light";
$dark: "dark";
$theme: $light;

// Set custom CSS variables for each theme
:root {
  @each $name, $color in map-get($map: $themes, $key: $theme) {
    --color-#{$name}: #{extract-rgb($color)};
  }
}
[data-theme="#{get-opposite-theme($theme)}"] {
  @each $name,
    $color in map-get($map: $themes, $key: #{get-opposite-theme($theme)})
  {
    --color-#{$name}: #{extract-rgb($color)};
  }
}
