{% load static %}
{% load i18n %}

{% if type == 'base' %}
  <footer class="footer footer-center gap-4 p-6 bg-base-300 text-base-content">
    <nav class="grid grid-flow-col gap-4">
      <a class="link link-hover">{% translate 'Contact us' %}</a>
      <a class="link link-hover">{% translate 'Terms' %}t</a>
      <a class="link link-hover">{% translate 'Privacy' %}</a>
    </nav>
    <aside>
      <p>Copyright © {% now 'Y' %} - {% translate 'All right reserved by' %} BienLocation</p>
    </aside>
  </footer>
{% else %}
  <footer class="footer footer-center p-10 bg-base-200 text-base-content rounded">
    <nav class="grid grid-flow-col gap-4">
      <a class="link link-hover">{% translate 'About us' %}</a>
      <a class="link link-hover">{% translate 'Contact us' %}</a>
      <a class="link link-hover">{% translate 'Terms' %}t</a>
      <a class="link link-hover">{% translate 'Privacy' %}</a>
    </nav>
    <nav class="grid grid-flow-row gap-6">
      <div class="grid grid-flow-row sm:grid-flow-col gap-3">
        <a class="btn btn-outline justify-center items-center rounded-lg p-1 w-36">
          {% include 'partials/icon.html' with name='apple' size='25' %}
          <p class="flex flex-col justify-center items-center text-xs">
            {% translate 'Download on the' %}
            <span class="text-primary">App Store</span>
          </p>
        </a>
        <a class="btn btn-outline justify-center items-center rounded-lg p-1 w-36">
          {% include 'partials/icon.html' with name='google' size='25' %}
          <p class="flex flex-col justify-center items-center text-xs">
            {% translate 'Download on the' %}
            <span class="text-primary">Google Play</span>
          </p>
        </a>
      </div>
      <div class="grid grid-flow-col gap-4">
        <a>{% include 'partials/icon.html' with name='x' size='25' %}</a>
        <a>{% include 'partials/icon.html' with name='youtube' size='25' %}</a>
        <a>{% include 'partials/icon.html' with name='facebook' size='25' %}</a>
      </div>
    </nav>
    <aside>
      <p>Copyright © {% now 'Y' %} - {% translate 'All right reserved by' %} BienLocation</p>
    </aside>
  </footer>
{% endif %}
