<div class="debug">
  <div class="block sm:hidden md:hidden lg:hidden xl:hidden 2xl:hidden text-xl">screen: xs</div>
  <div class="hidden sm:block md:hidden lg:hidden xl:hidden 2xl:hidden text-xl">screen: sm</div>
  <div class="hidden sm:hidden md:block lg:hidden xl:hidden 2xl:hidden text-xl">screen: md</div>
  <div class="hidden sm:hidden md:hidden lg:block xl:hidden 2xl:hidden text-xl">screen: lg</div>
  <div class="hidden sm:hidden md:hidden lg:hidden xl:block 2xl:hidden text-xl">screen: xl</div>
  <div class="hidden sm:hidden md:hidden lg:hidden xl:hidden 2xl:block text-xl">screen: 2xl</div>
</div>